/* Style for the Pomodoro Timer page */
.pomodoro-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.pomodoro-timer {
    font-size: 48px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #fff; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #4CAF50; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

.pomodoro-timer::before {
    content: '\1F55B'; 
    font-size: 36px;
    margin-bottom: 10px;
}

.pomodoro-buttons {
    margin-top: 20px;
}

.pomodoro-buttons button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.pomodoro-buttons button:hover {
    font-size: 16px;
    padding: 13px 20px;
}

/* Couleurs pour les boutons spécifiques */
.pomodoro-buttons button.start {
    background-color: white;
    color: green;
    border: solid 1px green;
    border-radius: 10px;
}

.pomodoro-buttons button.stop {
    background-color: white;
    color: red;
    border: solid 1px red;
    border-radius: 10px;
}

.pomodoro-buttons button.reset {
    background-color: white;
    color: blue;
    border: solid 1px blue;
    border-radius: 10px;
}

.pomodoro-config {
    margin-top: 30px;
}

.pomodoro-config button {
    font-size: 16px;
    padding: 8px 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    background-color: white;
    border: solid 1px black;
}

.pomodoro-config button:hover {
    padding: 10px 16px;
}

.pomodoro-buttons button:disabled {
    opacity: 0.6; 
}


